
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #803838;
    text-align: center;
  }
  slide{
    width: 1240px;
  }
  .react-slideshow-container{
    width: 1240px;
    background: none;
  }
  path{
    width: 100px;
  }
button.nav {
    width: 46px;
    background: none;
    border: '0px';
    border-color: transparent;
    margin-right: 20px;
    
 }
 .react-slideshow-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 415px;
  border-radius: 25px;
}
.react-slideshow-container img{
  height: 415px;
  width: 100%;
  object-fit: cover;
}
.react-slideshow-container svg{
  height: 100px;
}
.indicators{
  position: relative;
  bottom: 80px;
}
.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 1px;
  opacity: 0;
  font-size: 18px;
}

.indicator.active {
  color: #fff;
  background: transparent;
  opacity: 1;
}
@media all and (max-width:768px){
  .react-slideshow-container{
    width: 100%;
    height: 255px;
    margin-top: -40px;
  }
  .react-slideshow-container img{
    width: 100%;
    height: 255px;
  }
  .react-slideshow-container svg{
    height: 20px;
    width: 10px;
  }
  button.nav {
    margin-right: 0px;
  }
  .images-wrap{
    width: 100%;
  }


}