.accordion-about{
    width: 85%;
    padding-inline-start: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#page_about{
    max-width: 1240px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page_about > .wrap-Banner > .Banner{
    position: relative;
    z-index: 0;
}
#page_about > .wrap-Banner > .Banner > .Banner__texte{
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        mix-blend-mode: darken;
        opacity: 15%;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        z-index: 10;
}
@media all and (min-width:992px){
    #page_about{
        margin-top: -20px;
    }
}
@media all and (max-width:992px){
    #page_about {
        margin-top: 10px;
    }
    .accordion-about{
        width: 100%;
        padding-top: 10px;
    }
    #page_about >.wrap-Banner img{
        height: 223px;
    }
    #page_about >.wrap-Banner >{
        height: 223px;
    }
    #page_about >.wrap-Banner >.Banner{
        height: 223px;
    }
    #page_about >.wrap-Banner >.Banner>.Banner__img{
        height: 223px;
    }

}
@media all and (max-width:768px){
    #page_about >.wrap-Banner img{
        height: 223px;
    }
    #page_about >.wrap-Banner >{
        height: 223px;
    }
    #page_about >.wrap-Banner >.Banner{
        height: 223px;
    }
    #page_about >.wrap-Banner >.Banner>.Banner__img{
        height: 223px;
        margin-top: 0px;
    }
}
