
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1240px;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.navi{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.navi__About{
    color: #FF6060;
}
.navi__Home{
    color: #FF6060; 
}
@media all and (max-width:991px) and (min-width:769px)
{
    .Header{
        width: 90%;
        height: 47px;
        margin-bottom: 10px;
    }
    .navi{
        width: 150px;
        font-size: 17px;
        line-height: 17.11px;
        /* text-align: right; */
        align-items: center;
        z-index: 10;


    }
    .Header img{
        width: 145px;
        height: 47px;
    }
}
@media all and (max-width:768px){
    .Header{
        width: 90%;
        height: 47px;
        margin-bottom: 10px;
    }
    .navi{
        z-index: 10;
        width: 150px;
        font-size: 17px;
        line-height: 17.11px;
        align-items: center;

        /* text-align: right; */


    }
    .Header img{
        width: 145px;
        height: 47px;
    }
}