.Card2wrapper{
    display: flex;
    flex-direction: column;
}

.topofcard2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title__location__tags{
    width: 50%;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;

}
.location{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: -40px;
}
.tag{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 20px;
}


.host__rating{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.host{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Host__name{
    color: #FF6060;
    width: min-content;
    font-size: 18px;
    text-align: end;
    padding-right: 10px;


}
.Host__picture{
    width: 64px;
    height: 64px;
}
.Host__picture img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.collapsegroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.collapsegroup__description{
    width: 46%;
}
.collapsegroup__equipment{
    width: 46%;
}
@media all and (max-width:992px){
    .collapsegroup{
        flex-direction: column;
        width: 100%;
    }
    .collapsegroup__equipment, .collapsegroup__description{
        width: 100%
    }
    .topofcard2{
        flex-direction: column;
        margin-top: -20px;
    }
    .title__location__tags{
        width: 100%;
    }
    h1{
        font-size: 30px;
    }

    .host__rating{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .host{
        order: 2;
        
    }
    .Host__name{
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    .Host__picture img{
        width: 48px;
        height: 48px;
    }
    .Host__picture{
        display: flex;
        align-items: center;
        width: 48px;
        height: 48px;
    }
    .rating{
        order: 1;

    }
    .rating img{
        height: 20px;
        width: 20px;
    }
}
@media all and (max-width:768px){
    .collapsegroup{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .collapsegroup__description {
        width: 100%;
    }
    .collapsegroup__equipment{
        width: 100%;
    }
    h1{
        font-size: 18px;
    }
    .location{
        font-size: 14px;
        margin-top: -20px;
    }
    .tag{
        font-size: 10px;
    }
    .title__location__tags{
        width: 100%;
    }
    .topofcard2{
        flex-direction: column;
        margin-top: -20px;
    }
    .host__rating{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: -20px;
        padding-bottom: 10px;
    }
    .host{
        order: 2;
        
    }
    .Host__name{
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    .Host__picture img{
        width: 32px;
        height: 32px;
    }
    .Host__picture{
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .rating{
        order: 1;

    }
    .rating img{
        height: 15px;
        width: 15px;
    }
  
  }