.pageError{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}
.Error__404{

    font-size: 288px;
    font-weight: 700;
}
.Error__description{
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 250px;
}
.Error__link a{
    font-size: 18px;
    color: #FF6060;
}
.Error__link{
    padding-bottom: 159px;
}
@media all and (max-width:991px) and (min-width:769px)
{
    .pageError{
        width: 90%;
    }
    .Error__404{
        padding-top: 60px;
        font-size: 200px;
    }
    .Error__description{
        font-size: 22px;
        padding-bottom: 90px;
    }
}
@media all and (max-width:768px){
    .pageError{
        width: 90%;
    }
    .Error__404{
        font-size: 96px;
        padding-top: 180px;
    }
    .Error__description{
        font-size: 18px;
        padding-bottom: 30px;
        padding-bottom: 90px;
        text-align: center;
    }
    .Error__link a{
        font-size: 14px; 
    }
}